*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
.bmp

*.mod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml

[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

project.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

_Chutzpah*

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

*.psess
*.vsp
*.vspx
*.sap

$tf/

*.gpState

*.[Rr]e[Ss]harper
*.DotSettings.user

Generated_Code/

*.mdf
*.ldf

*.rdl.data
*.bim.layout
*.bim_*.settings

FakesAssemblies/

*.GhostDoc.xml

*.sdf
*.pdb
*.log
*.tlog
*.deps
*.obj
*.pdb
cuNIST/x64/Debug/cuNIST.exe
*.ilk
cuNIST/cuNIST.v12.suo
cuNIST/cuNIST/x64/Debug/cuNIST.tlog/cl.command.1.tlog
cuNIST/*.sdf
